{
  "singleQuote": true,
  "printWidth": 150,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve"
}
